layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="XGodot engine (process)" {
        pane command="nvidia-offload" {
            args "godot4"
        }
    }
    tab name="main" focus="true" {
        pane {
            pane split_direction="Vertical" {
               pane
               pane
            }
            pane
        }
    }
}
