* {
    border: none;
    /* border-radius: 0; */
    font-family: Operator Mono;
    font-weight: normal;
    font-size: 13px;
    min-height: 0;
    
}

window#waybar {
    background: transparent;
    color: #f5e0dc;
}




#workspaces,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#cpu,
#memory,
#temperature,
#taskbar,
#disk {
    background: #1e1e2e;
    padding: 2px 8px;
    margin: 3px;
    box-shadow: inset 0px 0px 4px 11px rgba(194, 226, 214, 0.195);
    background: linear-gradient(1108deg, rgb(230, 154, 198) 5%, rgb(201, 236, 251) 5%, rgb(201, 236, 251) 20%, rgb(230, 154, 198) 20%, rgb(230, 154, 198) 40%, rgb(201, 236, 251) 40%, rgb(201, 236, 251) 60%, rgb(230, 154, 198) 60%, rgb(230, 154, 198) 80%, rgb(201, 236, 251) 80%, rgb(201, 236, 251) 95%, rgb(230, 154, 198) 95%); 
    /* background: linear-gradient(1108deg, #17A7C6 5%, #006F99 5%, #006F99 20%, #17A7C6 20%, #17A7C6 40%, #006F99 40%, #006F99 60%, #17A7C6 60%, #17A7C6 80%, #006F99 80%, #006F99 95%, #17A7C6 95%);  */
    background-size: 200% 300%;
    animation-duration: 750ms;
    color: #181825;
    border: 1px solid #17A7C6;
    margin: 4px 0px;
    margin-right: 10px;
    border-radius: 8px;
}

#workspaces {
    margin-left: 10px ;
}

#workspaces button {
    color: #8f9ac5;
}

#workspaces button.active {
    color: #313244;
}

#temperature.critical {
    background: red;
}
