* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-family: Operator Mono;
    font-weight: normal;
    font-size: 13px;
    min-height: 0;
    
}

window#waybar {
    background: #11111b; 
}




#workspaces,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#cpu,
#memory,
#temperature,
#taskbar,
#disk {
    padding: 2px 8px;
    /* box-shadow: inset 0px 0px 4px 11px rgba(194, 226, 214, 0.195); */
    background-size: 200% 300%;
    animation-duration: 750ms;
    color: #d9e0ee;
    /* border: 1px solid #17A7C6; */
    /* margin: 4px 0px; */
    margin-right: 10px;
    /* border-radius: 8px; */
}

#workspaces {
    margin-left: 10px ;
}

#workspaces button {
    /* For some reason the button has spacing on top and bottom even if set to 0 */
    margin-top: -2px;
    margin-bottom: -2px;
    padding: 2px 8px;
    color: #cba6f7;
    border-bottom: 3px solid #11111b; /* when switching focus it would bump becouse of the border-bottom on .active */ 
}

#workspaces button.active {
    color: #d9e0ee;
    /*box-shadow:inset 0px -3px 0px 0px #cba6f7;*/
    border-bottom: 3px solid #cba6f7;
}

#temperature {
    border-bottom: 3px solid #f38ba8; 
}

#tray {
    border-bottom: 3px solid #74c7ec;
}

#memory {
    border-bottom: 3px solid #a6e3a1; 
}

#cpu {
    border-bottom: 3px solid #F9F06B;
}

#clock {
    border-bottom: 3px solid #C061CB;
}

#disk {
    border-bottom: 3px solid #A6DA95;
}

#network {
    border-bottom: 3px solid #f38ba8; 
}

#battery {
    border-bottom: 3px solid #A6DA95;
}

#battery.warning:not(.charging) {
  border-bottom: 3px solid #ffa34b; 
}

@keyframes blink {
    to {
        background: #f38ba8;
        color: #000
    }
}

#battery.critical:not(.charging) {
  border-bottom: 3px solid #f38ba8; 
  color: #ffffff;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
    border-bottom: 3px solid #74c7ec;
}

#temperature.critical {
    background: red;
}
