* {
    border: none;
    border-radius: 0;
    font-family: Operator Mono;
    font-weight: normal;
    font-size: 13px;
    min-height: 0;
    
}

window#waybar {
    /* background: transparent; */
    background: #181825; 
    color: #f5e0dc;
}




#workspaces,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#cpu,
#memory,
#temperature,
#taskbar,
#disk {
    background: #11111b;
    padding: 2px 8px;
    /* box-shadow: inset 0px 0px 4px 11px rgba(194, 226, 214, 0.195); */
    background-size: 200% 300%;
    animation-duration: 750ms;
    color: #d9e0ee;
    /* border: 1px solid #17A7C6; */
    /* margin: 4px 0px; */
    margin-right: 10px;
    /* border-radius: 8px; */
}

#workspaces {
    margin-left: 10px ;
}

#workspaces button {
    color: #45475a;
}

#workspaces button.active {
    color: #d9e0ee;
}

#temperature.critical {
    background: red;
}
